<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Shelve</title>
    <link rel="stylesheet" type="text/css" href="/css/jass.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
</head>

<body>
    <header>
        <h1 class=" has-text-danger-dark is-size-1 is-family-monospace has-text-weight-semibold">The Shelve!!!</h1>
    </header>
    <nav>
        <a class="has-text-white-bis is-size-4" href="/">Home</a>
        {{#if loggedIn}}
        <button id="logout" class="btn-no-style">Logout</button>
        {{else}}
        <a class="has-text-white-bis is-size-4" href="/login">Login</a>
        {{/if}}
    </nav>
    <main>
        <aside>
            <h2 class="has-text-white-bis is-size-4">All your favorite movies in one spot!</h2>
        </aside>
        <div class="movies">
            {{{body}}}
        </div>
    </main>
    {{#if loggedIn}}
    <script src="/js/logout.js"></script>
    {{/if}}
</body>

</html>