{{!-- <h1>The Shelve</h1> --}}
{{#unless loggedIn}}
<p>Please <a href="/login">login</a> to view all your movies!</p>
{{else}}
{{#each movie as |movie|}}
<section class="movies-name">
  <a href="/movie/{{id}}" class="card-body">
    <img src="{{img}}" class="movies has-background-black">
    <h5>Movie: {{movie.title}}</h5>

  </a>
</section>
{{/each}}
{{/unless}}
