<section class="movies-smaller">
    <img src="/movie/{{img}}">

    <div class="movies-smaller-details">
        <h3>{{movie.title}}</h3>
        <p>Genre: {{movie.genre}}</p>
        <p>Format: {{movie.format}}</p>
    </div>
</section>