:root {
  --primary: #000000;
  --secondary: #86938f;
  --tertiary: #5e877f;
  --quatrinary: #6c6b67;
  --light: #e3e4e3;
  --dark: #182c23;
  --error: rgb(228, 46, 1);
  --border-radius: 0.3rem;
}

body {
  font-family: Arial;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: flex-start;
  background-color: var(--quatrinary);
}

a {
  color: var(--dark);
  text-decoration: none;
}

a:visited {
  color: inherit;
}

header {

  padding: 40px;
  text-align: center;
  background: var(--primary);
  color: var(--light);
  background-image: url(/images/newimg.jpg);

}

main {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
}

aside {
  flex: 0;
  background-color: black;
  padding: 80px;
  text-align: left;
  color: var(--light);
}

nav {
  display: flex;
  background-color: #0a0a0a !important;
}

nav a {
  color: #0a0a0a !important;
  padding: 14px 20px;
  text-decoration: none;
  text-align: center;
}

nav a:hover {
  color: var(--secondary);
  background-color: var(--dark);
}

.movies {
  flex: 4;
  background-color: #0a0a0a !important;
  color: #e3e4e3 !important;
  padding: 50px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

.btn-no-style {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  text-decoration: none;
  font-size: 100%;
  transition: color 0.1s;
  margin-left: 16px;
}



.movies-smaller {
  width: 50%;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 25px;
}
.movies-smaller-details {
  text-align: center;
  padding: 10px 20px;
  font-weight: bold;
  background-color: black;
}

/* /* CARDS / */
.card {
  margin: 20px;
  flex: 0 1 300px;
  border: 7px double var(--dark);
  border-radius: 10px;
  background-color: var(--light);
  color: var(--dark);
}

.please-login {
  font-size: 50px;
  margin: 0 0 20px 0;
  flex: 0 0 50%;
  max-width: 50%;
  padding: 5px;
  color: var(--light);
}

.login-card {
  margin: 0 0 20px 0;
  flex: 0 0 50%;
  max-width: 50%;
  padding: 5px;
  border: 1px solid #cc0f35;
  border-radius: var(--border-radius);
  border-style: double; 
   border-width: thick; 
  background-color: black;
  color: var(--light);
}

.card header {
  color: var(--light);
  font-weight: bold;
  text-transform: uppercase;
  margin: 0;
  background-color: var(--tertiary);
  padding: 0.625rem;
  border-radius: calc(0.18rem - 1px) calc(0.18rem - 1px) 0 0;
}

.card-body {
  font-size: 1.4rem;
  text-align: center;
  font-weight: bold;
  background-color: black;
}

.movies-name {
  color: #485fc7;
  text-transform: uppercase;
  letter-spacing: 3px;
  text-shadow: 2px 2px 5px red;
  border: 10px groove var(--light);
  padding-top: 30px;
  padding-bottom: 30px;
  padding-right: 100px;
  padding-left: 100px;
  background-color: black;
}

/* / LAYOUT */ 
.container {
  display: flex;
  flex-flow: column wrap;
  align-content: flex-start;
  align-items: center;
}

#logout:hover {

  background-color: var(--dark);
  cursor: pointer;
  text-decoration: underline;
}

#search-bar {
  background-color: #a0aeaa;

}

.logo-img {
  padding-left: 1rem;
  height: 90px;
  width: 200px;
}